@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: rgba(27, 79, 114);
    color: rgb(220, 232, 255);
}
.titulo {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    border: 2px solid rgb(250, 248, 248);
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    background-color: rgba(36, 113, 163);
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.input-group {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-left:80px
}

.input-group input {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 10px;
    
}

.boton {   
    border:5px solid brown;
    border-color:rgb(2, 49, 102);
    border-radius: 30px;
    padding: 15px;
    background-color: rgb(187, 234, 240);
    font-size: larger;
    font-weight: bold;
}


.lugar-boton {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.foto-profesor {
    max-width: 300px;
}
.bocadillo-redondo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 250px;
    width: 400px;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    color: black;
    font-size: larger;
}
.bocadillo-redondo:before {
    border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: -25px;
    transform: rotate(-20deg);

}

.profe-bocadillo {
    display: flex;

}

#resultado {
    
}